body {
    overflow: hidden;
    background-color: #111111;
    background-image: url('../Assets/brick.png');
    background-size: 1500px;
}

.booster_pack_1 {
    height: 350px;
    width: 200px;
    margin-top: 330px;
    margin-left: -100px;
    opacity: .75;
    display: inline-block;
}

.booster_pack_1:hover {
    opacity: 1;
    transition: ease-in-out .25s;
}


.booster_pack_2 {
    height: 350px;
    width: 200px;
    margin-top: 330px;
    margin-left: 25px;
    opacity: .75;
    display: inline-block;
}

.booster_pack_2:hover {
    opacity: 1;
    transition: ease-in-out .25s;
}


.cap_logo {
    background-color: #000000;
    height: 119px;
    width: 119px;
    position: absolute;
    margin-top: 194px;
    margin-left: 80px;
    opacity: .85;
    z-index: 3;
}

.cap_logo:hover {
    opacity: 1;
    transition: ease-in-out .25s;
}


.logo {
    height: 150px;
    display: inline-block;
    margin-bottom: 525px;
    margin-left: 10px;
}

.logo:hover {
    filter: drop-shadow(3px 3px 4px #000000);
    transition: ease-in-out .25s;
}

.pack_box {
    height: 500px;
    width: 725px;
    margin-top: 250px;
    margin-left: -577px;
    opacity: 1;
    position: absolute;
    z-index: 2;
    display: inline-block;
    filter: drop-shadow(3px 3px 4px #000000);
}

.shop_logo {
    height: 800px;
    display: inline-block;
    opacity: .1;
    margin-left: 300px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;
}

.single_box {
    height: 500px;
    width: 725px;
    margin-top: 250px;
    margin-left: -60px;
    opacity: 1;
    position: absolute;
    z-index: 2;
    display: inline-block;
    filter: drop-shadow(3px 3px 4px #000000);
}


.snk_logo {
    height: 120px;
    width: 120px;
    position: absolute;
    margin-top: 194px;
    margin-left: -105px;
    opacity: .85;
    z-index: 3;
}

.snk_logo:hover {
    opacity: 1;
    transition: ease-in-out .25s;
}

.starter_box_1 {
    height: 200px;
    width: 200px;
    margin-top: 155px;
    margin-left: -145px;
    opacity: 1;
    position: absolute;
    border: 12px, solid, #d8d8d8;
    z-index: 1;
    display: inline-block;
    filter: drop-shadow(3px 3px 4px #000000);
}

.starter_box_2 {
    height: 200px;
    width: 200px;
    margin-top: 154px;
    margin-left: 40px;
    opacity: 1;
    position: absolute;
    border: 12px, solid, #d8d8d8;
    z-index: 2;
    display: inline-block;
    filter: drop-shadow(3px 3px 4px #000000);
}
